# App configs
NODE_ENV=development

# Database configs
DB_HOST=103.97.125.235
DB_TYPE=mysql
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_LOGGING=true

# Redis configs
REDIS_HOST=ddv-affiliate-redis
REDIS_HOST=localhost
REDIS_PORT=6379

# App configs
PORT_ADMIN=4001
API_URL_ADMIN=http://localhost:4001

# JWT Configs 
JWT_SECRET=secret
JWT_EXPIRES_IN=30d
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_REFRESH_EXPIRES_IN=7d

# Bot discord configs
DISCORD_BOT_TOKEN=your_bot_token
DISCORD_CLIENT_ID=your_client_id
DISCORD_GUILD_ID=your_guild_id
DISCORD_ERROR_CHANNEL_ID=your_error_channel_id
DISCORD_SUCCESS_CHANNEL_ID=your_success_channel_id
DISCORD_WITHDRAWAL_CHANNEL_ID=your_withdrawal_channel_id
DISCORD_GENERAL_CHANNEL_ID=your_general_channel_id

# Telegram (thông báo đơn hàng mới)
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id